<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>authlogic-facebooker-bridge</title>

    <%= stylesheet_link_tag 'default' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery' %>

    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
  </head>
  <body>

  <p style="color: green"><%= flash[:notice] %></p>

  <%= fb_connect_javascript_tag %>
  <%= init_fb_connect("XFBML", :js => :jquery) %>

  
  <%= yield %>

<br /> <br /> <br /	>
  Check out the Facebook Canvas Application at http://apps.facebook.com/fb-authlogic-bridge/
<p> Get the code from http://github.com/fluidtickets/facebooker-authlogic-bridge

  </body>
  </html>